Repository mash-up-kr/gabbangzip-iOS, pull requests merged in 2024-07, with the labels that each got.

#71 [Feat] 자동 로그인 구현 및 ToastView 적용
  Projects/App/Sources/AppDelegateCore.swift
  Projects/App/Sources/RootCore.swift
  Projects/Core/Models/BaseAPI/BaseErrorResponse.swift
  Projects/Core/Models/BaseAPI/BaseResponse.swift
  Projects/Core/Models/Kakao/Entity/KaKaoUserInfo.swift
  Projects/Core/Models/Kakao/Entity/KakaoToken.swift
  Projects/Core/Models/Kakao/Request/KakaoLogin.swift
  Projects/Core/Models/Kakao/Request/KakaoRefresh.swift
  Projects/Core/Models/Kakao/Response/DeleteUserInfo.swift
  Projects/Core/Models/Kakao/Response/PICUserInfo.swift
  Projects/Core/Models/Kakao/Response/TestInfo.swift
  Projects/Core/Models/Kakao/Response/TokenInfo.swift
  Projects/Core/Project.swift
  Projects/Core/Services/KakaoAPI/KakaoAPI.swift
  Projects/Core/Services/KakaoAPI/KakaoAPIClient.swift
  Projects/Core/Services/KeyChain/KeyChainClient.swift
  Projects/DesignSystem/Sources/Views/Toast/ToastModifier.swift
  Projects/Features/Scene/KakaoLoginScene/KakaoLogin/LoginCore.swift
  Projects/Features/Scene/KakaoLoginScene/KakaoLogin/LoginView.swift
  Projects/Features/Scene/KakaoLoginScene/KakaoLogin/ToastView.swift
Labels: Feature

#76 [Hotfix] Dependency 수정
  Projects/Core/Project.swift
Labels: Hotfix

#77 [Design] 그룹 상세 및 그룹원 리스트 페이지 UI 구현
  Projects/Core/Common/Extensions/UIScreen+Extensions.swift
  Projects/Core/Common/Views/ViewHeightKey.swift
  Projects/Core/Models/GroupDetail/EventDetail.swift
  Projects/Core/Models/GroupDetail/EventItemInfo.swift
  Projects/Core/Models/GroupDetail/GroupCategory.swift
  Projects/Core/Models/GroupDetail/GroupDetail.swift
  Projects/Core/Models/GroupDetail/MemberList.swift
  Projects/DesignSystem/Resources/Icons.xcassets/Common/share.imageset/Contents.json
  Projects/DesignSystem/Resources/Icons.xcassets/Common/share.imageset/Group 5024.svg
  Projects/DesignSystem/Resources/Images.xcassets/Contents.json
  Projects/DesignSystem/Resources/Images.xcassets/empty.imageset/Contents.json
  Projects/DesignSystem/Resources/Images.xcassets/empty.imageset/empty.svg
  Projects/DesignSystem/Sources/Views/Chip/Types/CategoryType.swift
  Projects/Features/Scene/GroupDetailScene/GroupDetail/EventContainer/EventContainerView.swift
  Projects/Features/Scene/GroupDetailScene/GroupDetail/EventContainer/EventControlButton.swift
  Projects/Features/Scene/GroupDetailScene/GroupDetail/EventContainer/EventProgressView.swift
  Projects/Features/Scene/GroupDetailScene/GroupDetail/EventContainer/ShareButton.swift
  Projects/Features/Scene/GroupDetailScene/GroupDetail/EventGrid/EventGridView.swift
  Projects/Features/Scene/GroupDetailScene/GroupDetail/EventGrid/EventItemView.swift
  Projects/Features/Scene/GroupDetailScene/GroupDetail/GroupDetailCore.swift
  Projects/Features/Scene/GroupDetailScene/GroupDetail/GroupDetailView.swift
  Projects/Features/Scene/GroupDetailScene/MemberList/MemberListCore.swift
  Projects/Features/Scene/GroupDetailScene/MemberList/MemberListView.swift
  Projects/Features/Scene/GroupDetailScene/MemberList/MemberView/MemberView.swift
  Projects/Features/Scene/Project.swift
  Tuist/Package.swift
  Tuist/ProjectDescriptionHelpers/TargetDependency+extensions.swift
Labels: Feature, Design

#83 [Feat] 그룹보기 구현
  Projects/Core/Models/BaseAPI/ErrorResponse.swift
  Projects/Core/Models/BaseAPI/FailureResponse.swift
  Projects/Core/Models/BaseAPI/SuccessResponse.swift
  Projects/Core/Models/Group/Response/CardBackImage.swift
  Projects/Core/Models/Group/Response/GroupData.swift
  Projects/Core/Models/Group/Response/GroupsData.swift
  Projects/Core/Project.swift
  Projects/Core/Services/GetHelpers/GabbangzipAPIClientDelegate.swift
  Projects/Core/Services/GroupAPI/GroupAPI.swift
  Projects/Core/Services/GroupAPI/GroupAPIClient.swift
  Projects/Core/Services/KakaoAPI/KakaoAPIClient.swift
  Projects/DesignSystem/Resources/Icons.xcassets/Common/right_arrow.imageset/Contents.json
  Projects/DesignSystem/Resources/Icons.xcassets/Common/right_arrow.imageset/right_arrow.svg
  Projects/DesignSystem/Sources/Views/Chip/Types/EtcType.swift
  Projects/DesignSystem/Sources/Views/NavigationBar/UIViews/BlurView.swift
  Projects/DesignSystem/Sources/Views/PlaygroundView.swift
  Projects/Features/Scene/MainScene/GroupList/GroupListCore.swift
  Projects/Features/Scene/MainScene/GroupList/GroupListView.swift
  Projects/Features/Scene/MainScene/GroupList/Views/FlipView.swift
  Projects/Features/Scene/MainScene/Main/Dummy.swift
  Projects/Features/Scene/Project.swift
  Tuist/ResourceSynthesizers/Assets.stencil
  Workspace.swift
Labels: Feature, Design

#84 [Feat] 마이페이지, 로그아웃, 회원탈퇴 , UNUserNotificationCenterClient, UIApplicationClient 구현
  Projects/App/Sources/RootCore.swift
  Projects/App/Sources/RootView.swift
  Projects/Core/Services/Bundle/BundleClient.swift
  Projects/Core/Services/KeyChain/KeyChainClient.swift
  Projects/Core/Services/UIApplication/UIApplicationClient.swift
  Projects/Core/Services/UserDefaults/UserDefaultsClient.swift
  Projects/DesignSystem/Sources/Views/Popup/PopupView.swift
  Projects/DesignSystem/Sources/Views/Popup/PopupViewModifier.swift
  Projects/DesignSystem/Sources/Views/Toast/ToastModifier.swift
  Projects/Features/Coordinator/Project.swift
  Projects/Features/Scene/LoginScene/Login/LoginCore.swift
  Projects/Features/Scene/LoginScene/Login/LoginView.swift
  Projects/Features/Scene/MyPageScene/MyPage/MyPageCore.swift
  Projects/Features/Scene/MyPageScene/MyPage/MyPageView.swift
  Projects/Features/Scene/Project.swift
  Tuist/ProjectDescriptionHelpers/TargetDependency+extensions.swift
Labels: Feature

#86 [Feat] 그룹 만들기 구현(1)
  Projects/Core/Models/Group/Response/GroupData.swift
  Projects/DesignSystem/Resources/Lotties/bookmark.json
  Projects/DesignSystem/Resources/Lotties/confetti.json
  Projects/DesignSystem/Resources/Lotties/morphing.json
  Projects/DesignSystem/Sources/Views/Button/GabbangzipButton.swift
  Projects/DesignSystem/Sources/Views/Button/KeywordButton.swift
  Projects/DesignSystem/Sources/Views/Card/PhotoCard.swift
  Projects/DesignSystem/Sources/Views/Input/GabbangzipInput.swift
  Projects/DesignSystem/Sources/Views/Lottie/LottieView.swift
  Projects/DesignSystem/Sources/Views/PhotoPicker/GabbangzipPhotoPicker.swift
  Projects/Features/Scene/CreateGroupScene/CreateGroupStart/CreateGroupStartCore.swift
  Projects/Features/Scene/CreateGroupScene/CreateGroupStart/CreateGroupStartView.swift
  Projects/Features/Scene/CreateGroupScene/Extensions/Keyword+extensions.swift
  Projects/Features/Scene/CreateGroupScene/SelectGroupPhoto/SelectGroupPhotoCore.swift
  Projects/Features/Scene/CreateGroupScene/SelectGroupPhoto/SelectGroupPhotoView.swift
  Projects/Features/Scene/CreateGroupScene/SelectKeyword/SelectKeywordCore.swift
  Projects/Features/Scene/CreateGroupScene/SelectKeyword/SelectKeywordView.swift
  Projects/Features/Scene/CreateGroupScene/SetGroupName/SetGroupNameCore.swift
  Projects/Features/Scene/CreateGroupScene/SetGroupName/SetGroupNameView.swift
  Projects/Features/Scene/CreateGroupScene/Views/PICProgressView.swift
  Projects/Features/Scene/Project.swift
  Tuist/ProjectDescriptionHelpers/TargetDependency+extensions.swift
  Workspace.swift
  Xcode Templates/Feature.xctemplate/___FILEBASENAME___Core.swift
  Xcode Templates/Reducer.xctemplate/___FILEBASENAME___Core.swift
Labels: Refactoring, Feature, Design

#87 [Design] 투표 완료 페이지, 이미지 뷰어 UI 구현
  Projects/DesignSystem/Resources/Icons.xcassets/Navigation/back.imageset/Contents.json
  Projects/DesignSystem/Sources/Views/NavigationBar/NavigationBar.swift
  Projects/DesignSystem/Sources/Views/NavigationBar/Types/NavigationBarType.swift
  Projects/Features/Scene/GroupDetailScene/EventDetail/EventDetailCore.swift
  Projects/Features/Scene/GroupDetailScene/EventDetail/EventDetailView.swift
  Projects/Features/Scene/GroupDetailScene/MemberList/MemberListView.swift
  Projects/Features/Scene/GroupDetailScene/Vote/VoteComplete/VoteCompleteCore.swift
  Projects/Features/Scene/GroupDetailScene/Vote/VoteComplete/VoteCompleteView.swift
  Workspace.swift
Labels: Design

#89 [Feat] Coordinator 객체 생성 및 로그인 화면 전환 로직 구현
  Projects/App/Sources/RootCore.swift
  Projects/App/Sources/RootView.swift
  Projects/Core/Models/Shared/UserInfo.swift
  Projects/Core/Services/KeyChain/KeyChainClient.swift
  Projects/Core/Services/PicAPIClients/AuthAPI/AuthAPI.swift
  Projects/Core/Services/PicAPIClients/AuthAPI/AuthAPIClient.swift
  Projects/Core/Services/PicAPIClients/GroupAPI/GroupAPI.swift
  Projects/Core/Services/PicAPIClients/GroupAPI/GroupAPIClient.swift
  Projects/Core/Services/UserDefaults/UserDefaultsClient.swift
  Projects/Features/Coordinator/CreateGroupCoordinator/CreateGroupCoordinatorCore.swift
  Projects/Features/Coordinator/CreateGroupCoordinator/CreateGroupCoordinatorView.swift
  Projects/Features/Coordinator/CreateGroupCoordinator/CreateGroupScreen.swift
  Projects/Features/Coordinator/MainCoordinator/Dummy.swift
  Projects/Features/Coordinator/MainCoordinator/MainCoordinatorCore.swift
  Projects/Features/Coordinator/MainCoordinator/MainCoordinatorView.swift
  Projects/Features/Coordinator/MainCoordinator/MainScreen.swift
  Projects/Features/Coordinator/MyPageCoordinator/MyPageCoordinatorCore.swift
  Projects/Features/Coordinator/MyPageCoordinator/MyPageCoordinatorView.swift
  Projects/Features/Coordinator/MyPageCoordinator/MyPageScreen.swift
  Projects/Features/Coordinator/Project.swift
  Projects/Features/Scene/LoginScene/Login/LoginCore.swift
  Projects/Features/Scene/MainScene/GroupList/GroupListCore.swift
  Projects/Features/Scene/MyPageScene/MyPage/MyPageCore.swift
  Projects/Features/Scene/MyPageScene/MyPage/MyPageView.swift
  Tuist/ProjectDescriptionHelpers/TargetDependency+extensions.swift
Labels: Refactoring, Feature

#90 [Design] 투표하기 Swipe UI 구현
  Projects/Core/Common/Extensions/View+extensions.swift
  Projects/Core/Common/Views/DraggableViewModifier.swift
  Projects/DesignSystem/Resources/Icons.xcassets/Common/close.imageset/Contents.json
  Projects/DesignSystem/Resources/Icons.xcassets/Common/close.imageset/close.svg
  Projects/DesignSystem/Resources/Icons.xcassets/Vote/Contents.json
  Projects/DesignSystem/Resources/Icons.xcassets/Vote/pass.imageset/Contents.json
  Projects/DesignSystem/Resources/Icons.xcassets/Vote/pass.imageset/pass.svg
  Projects/DesignSystem/Resources/Icons.xcassets/Vote/vote.imageset/Contents.json
  Projects/DesignSystem/Resources/Icons.xcassets/Vote/vote.imageset/vote.svg
  Projects/DesignSystem/Resources/Images.xcassets/gradientBackground.imageset/Contents.json
  Projects/DesignSystem/Resources/Images.xcassets/gradientBackground.imageset/gradientBackground.png
  Projects/DesignSystem/Resources/Images.xcassets/gradientBackground.imageset/gradientBackground@2x.png
  Projects/DesignSystem/Resources/Images.xcassets/gradientBackground.imageset/gradientBackground@3x.png
  Projects/DesignSystem/Sources/Views/NavigationBar/NavigationBar.swift
  Projects/DesignSystem/Sources/Views/Popup/PopupView.swift
  Projects/Features/Scene/GroupDetailScene/Vote/VoteButton/VoteButton.swift
  Projects/Features/Scene/GroupDetailScene/Vote/VoteCore.swift
  Projects/Features/Scene/GroupDetailScene/Vote/VoteSwipeView/VoteSwipeView.swift
  Projects/Features/Scene/GroupDetailScene/Vote/VoteView.swift
Labels: Feature, Design

#93 [Feat] Persisted shared state(In-memory) 적용
  Projects/App/Sources/RootCore.swift
  Projects/Core/Models/Shared/UserInfo.swift
  Projects/Features/Scene/CreateGroupScene/SelectGroupPhoto/SelectGroupPhotoView.swift
  Projects/Features/Scene/CreateGroupScene/SelectKeyword/SelectKeywordView.swift
  Projects/Features/Scene/CreateGroupScene/SetGroupName/SetGroupNameView.swift
  Projects/Features/Scene/LoginScene/Login/LoginCore.swift
  Projects/Features/Scene/MainScene/GroupList/GroupListCore.swift
  Projects/Features/Scene/MyPageScene/MyPage/MyPageView.swift
  Tuist/Package.resolved
  Tuist/Package.swift
Labels: Feature
